<html>
{% load i18n %}
<head>
<title>Отчет по приему больных</title>
<script src="{{ STATIC_URL }}grappelli/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}grappelli/jquery/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<!-- Последняя компиляция и сжатый JavaScript-->
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}grappelli/js/grappelli.js"></script>
<script src="{{ STATIC_URL }}grappelli/js/SelectBox.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

<style>
p.h {
color: red;
left: 200pt;
}
th {
background-color: gray;
}
.short {
display: none;
}
</style>
<script>
$('a.lnk_spec2').live('click',function(){
    var ind=$('a.lnk_spec2').index(this)+1,
    //alert('table tr.doc_spec2_'+ind);
    c_r=$('table tr.doc_spec2_'+ind),
    _l=c_r.slice(0,c_r.length),
    c_l=_l.hasClass('short');
    if (c_l==true) {
        _l.removeClass('short');
    } else {
        _l.addClass('short');
    }
});

</script>
</head>
<body>
<center>
<p id=hdr class='h'>Отчет о принятых пациентах:</p><br>

<table width=80% border=1><tr style='font-size:11pt'>
<th width=65%>Специальность</th><th>Принято пациентов</th><th>Всего талонов</th></tr>
{% for s in ss %}
    <tr style="font-size:10pt" class="{{ s.tmpl_ptr_id }}">
        <td class='doc_spec2'><a class='lnk_spec2' href='#'><b>{{ s.name }}</b></a></td>
        {% for k, v in req_data.items %}
            {% ifequal k s.name %}
		{% for t_rp in TktRep %}
		    {% ifequal t_rp.doctor_id__speciality_id__tmpl_ptr__id s.id %}
			<td><i>{{ t_rp.vst }}</i></td><td><b>{{ t_rp.vse }}</b></td>
		    {% endifequal %}
	    	{% endfor %}
            {% endifequal %}
        {% endfor %}
    </tr>

    {% for d in dd.all %}
        {% ifequal d.speciality_id_id s.tmpl_ptr_id %}

            <tr style='font-size:9pt' class='doc_spec2_{{ d.speciality_id_id }} short'>
                <td>{{ d.name }}</td>
                {% for rec in rslt %}
                    {% ifequal rec.doctor_id d.tmpl_ptr_id %}
                        <td>{{ rec.ptn_cnt }}</td>
                        <td>{{ rec.tck_cnt }}</td>
                    {% endifequal %}
                {% endfor %}
            </tr>

        {% endifequal %}
    {% endfor %}

{% endfor %}
</table></center>
</body>
